h3{
    text-indent: -2em;
    padding-left: 2em;
}
p{
    font-size: 20px;
    font-family:cursive;

    /*padding-left: 2em;*/
    /*text-transform: capitalize;*/
    /*text-shadow:5px 5px 2px #FF0000;*/
    /*text-wrap: normal;*/
}

@font-face{
    font-family: myfont;
    src:url();
}
div{
    font-family: myfont;
}